<title><%= extra.error.title %></title>

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

<div class="container">
   <div class="box">
    <div class="image-align">
     <div class="content"></div>
  <h1>404</h1>
  <p>Oops! Seems Like You Are Lost.</p>
  <a href="/dashboard">Home</a>
  </div>
</div>

<style>
  body {
  font-family: 'Noto Sans', sans-serif;
  color:#616161 /*#757575*/;
  background-color:#eeeeee;
 }

.container {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  text-align: center;
  position:relative;
}

.box {
  width: auto ;
  height: 500px;
  background: #fff;
  margin-top:50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius:5px;
  -webkit-box-shadow: inset 0px -1px 7px -3px rgba(0,0,0,0.92);
  -moz-box-shadow: inset 0px -1px 7px -3px rgba(0,0,0,0.92);
  box-shadow: inset 0px -1px 7px -3px rgba(0,0,0,0.92);

}

.image-align{
  margin-top:20%;
  display:inline-block;
  margin-bottom:5%;
}

h1{
  font-size:32px;
  font-weight:400;
  text-transform:uppercase;
  margin:0;
  position: relative;
  top: -100px;
}
p{
  font-size:16px;
  font-weight:700;
  margin:0;
  position: relative;
  top: -90px;
}

a{
  color: #407bff;
  font-weight: bold;
  text-decoration: none;
  margin-left:5px;
  position:relative;
  
  top: -70px;
}



.content {
  background: url('https://stories.freepiklabs.com/storage/23103/404-error-rafiki-2773.png');
  width:250px;
  height:250px;
  background-size:100% 100%;
  position: relative;
  top: -100px;
  }  
</style>
