
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 order-last order-md-first">
        <div class="copyright text-center text-md-start">
          <p class="text-sm">
            Powered By 
            <a
              href="https://github.com/Qwaekactyl/Qwaekactyl"
              rel="nofollow"
              target="_blank"
            >
              Qwaekactyl - © 2021-2023
            </a>
          </p>
        </div>
      </div>
      <!-- end col-->
      
      <div class="col-md-6">
        <div
          class="
            terms
            d-flex
            justify-content-center justify-content-md-end
          "
        >
          <a href="/tos" class="text-sm">Term & Conditions</a>
          <a href="/pp" class="text-sm ml-15">Privacy & Policy</a>
        </div>
      </div>
    </div>
  


  </div>

</footer>


<script src="https://qwaekactyl.coneiz.com/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/Chart.min.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/dynamic-pie-chart.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/moment.min.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/fullcalendar.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/jvectormap.min.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/world-merc.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/polyfill.js"></script>
<script src="https://qwaekactyl.coneiz.com/assets/js/main.js"></script>



