<footer class="footer">
<div class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="footertext1">© <%= extra.home.name %> | Powered by <a style="color: white" href="https://github.com/Qwakeactyl/Qwakeactyl">Qwakeactyl</a></span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a style="color: white" href="/pp">Privacy Policy</a> | <a style="color: white" href="/aboutus">AboutUS</a> | <a style="color: white" href="/tos">Terms of Service</a></span>
    </div>
    </div>

</footer>

<style>
.footer {
  display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: hsla(0, 0%, 0%, 0);
}
.footertext1 {
display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
</style>

<html>
  <head>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>
  </head>
  <body>
<div class="g-recaptcha"
  data-sitekey="<%= settings.website.sitekey %>" 
  data-secretkey="<%= settings.website.secretkey %>"
      data-size="invisible">
</div>
  </body>
</html>
