<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://qwaekactyl.coneiz.com/assets/images/favicon.svg"
      type="image/x-icon"
    />
    <title><%= extra.admin.title.default %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>

    <script src="https://kit.fontawesome.com/9f45c806ba.js" crossorigin="anonymous"></script>
    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/lineicons.css" />
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://qwaekactyl.coneiz.com/assets/css/main.css" />
</head>