  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="<%= extra.faviconlink %>"
      type="image/x-icon"
    />
    <title><%= extra.dashboard.title %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
     
    <script src="https://kit.fontawesome.com/9f45c806ba.js" crossorigin="anonymous"></script>
    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/lineicons.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3/assetsnew/css/main.css" />
  </head>