<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© <%= extra.home.name %> | Powered by <a style="color: white" href="https://github.com/Qwakeactyl/Qwakeactyl">Qwakeactyl</a></span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a style="color: white" href="/pp">Privacy Policy</a> | <a style="color: white" href="/aboutus">AboutUS</a> | <a style="color: white" href="/tos">Terms of Service</a></span>
    </div>

</footer>
