<link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
    <script src="https://cdn.team-ic.dev/iles/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="https://cdn.team-ic.dev//files/assets/js/core/popper.min.js"></script>
	<script src="https://cdn.team-ic.dev//files/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


	<!-- Chart JS -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="https://cdn.team-ic.dev//files/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="https://cdn.team-ic.dev//files/assets/js/atlantis.min.js"></script>

 <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">


        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
<link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
<script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
          <link rel="stylesheet" href="https://cdn.team-ic.dev/l/files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="https://cdn.team-ic.dev/"stylesheet href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
  
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Plugin js for this page -->
    <script src="https://cdn.team-ic.dev//files/assets/vendors/select2/select2.min.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- endinject -->
  
    <!-- Custom js for this page -->
    <script src="https://cdn.team-ic.dev//files/assets/js/file-upload.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/typeahead.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/select2.js"></script>
    
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
        <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
           <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
         <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
  
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
         <script src="https://cdn.team-ic.dev//files/assets/vendors/select2/select2.min.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
   
    <!-- Custom js for this page -->
    <script src="https://cdn.team-ic.dev//files/assets/js/file-upload.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/typeahead.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/select2.js"></script>
     <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">


    <!-- Custom js for this page -->
    <script src="https://cdn.team-ic.dev//files/assets/js/file-upload.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/typeahead.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
    
    <!-- Plugin js for this page -->
    <script src="https://cdn.team-ic.dev//files/assets/vendors/select2/select2.min.js"></script>
    <script src="https://cdn.team-ic.dev//files/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
         <link rel="stylesheet" href="https://cdn.team-ic.dev/com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
   
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
        <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
 <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.team-ic.dev//files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
 <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
<link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.team-ic.dev//files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
    